page-modal-login {
    #login-picture-container{
        login-picture{
            height: 250px;
            width: 250px;
        }
    }
    #ionTitle{
        text-align: center;
    }
    .authenticated{
        display: none;
    }    
}
